{{#> page }}
{{#*inline "head" }}
	<title>{{ name }} | Lean Rada</title>
{{/inline}}
{{#*inline "pjax-head" }}
	<link id="main-css" rel="stylesheet" href="work.css">
	{{#if style }}
	<link rel="stylesheet" href="{{{ style }}}">
	{{/if}}
	<script id="main-js" src="work.js" defer></script>
	{{#if script }}
	<script src="{{{ script }}}" defer></script>
	{{/if}}
{{/inline}}

{{#*inline "body" }}
	<section class="work-back">
		<a class="anchor-em" href="../works.html">Back to works</a>
	</section>
	<section class="work-content prose">
{{!-- No indent to avoid <pre> tag problems --}}
{{> content content=content }}
	</section>

	{{!-- TODO See if suggested section is reusable --}}
	{{#if suggested }}
	<section class="work-suggested">
		{{#each suggested }}
		<a class="suggested-item anchor-plain" href="{{{ url }}}">
			<img src="../{{{ imgSrc }}}" />
			<div class="item-info">
				<div class="item-context">
					{{#if related }}Related content
					{{else}}More {{ typeClass }}
					{{/if}}
				</div>
				<div class="item-name">{{ name }}</div>
			</div>
		</a>
		{{/each}}
	</section>
	{{/if}}
{{/inline}}
{{/page}}
