<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#203450">

	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">

	<meta name="apple-mobile-web-app-title" content="Lean Rada">
	<meta name="application-name" content="Lean Rada">
	<title>Lean Rada</title>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav id="nav" style="display: none">
		<ol class="nolist">
			<li><a href="#hello">Hi</a></li>
			<li><a href="#experience">Work</a></li>
			<li><a href="#education">Edu</a></li>
			<li><a href="#about">About</a></li>
		</ol>
	</nav>

	<div id="splash">
	</div>

	<button id="start-btn" class="overlay overlay-bottom overlay-mid" title="Let's go!">
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</button>

	<div id="main-container">

		<section id="hello">
			<div id="hello-text" class="iv">
				<div id="hello-portrait">
					<img src="{{hello.portrait.image_src}}" alt="my portrait"/>
				</div>
				<div id="hello-me">
					<h1>Hi!</h1>
					<p class="heading">{{hello.heading}}</p>
					<p id="hello-me-title-state" class="heading">I'm <span id="hello-me-title">{{hello.titles.[0]}}</span></p>
					{{#each hello.text}}
						<p class="text">{{this}}</p>
					{{/each}}
				</div>
			</div>
		</section>

		<section id="experience">
			<h1 class="section-heading">Work</h1>
			<ol class="timeline iv">
				{{#each experience.works}}
					<li class="iv">
						<div class="timeline-entry">
							<div class="experience-entry field-box">
								{{#if image}}
									<img class="image" src="{{image.src}}" title="{{image.title}}"/>
								{{/if}}
								<div class="field value job">{{job}}</div>
								{{#if company}}
									<div class="field company">at <span class="value">{{company}}</span></div>
								{{else}}
									{{#if alt_company}}
										<div class="field value company">{{alt_company}}</div>
									{{/if}}
								{{/if}}
								{{#if date.[1]}}
									<div class="field date">from <span class="value">{{date.[0]}}</span> to <span class="value">{{date.[1]}}</span></div>
								{{else}}
									<div class="field date">in <span class="value">{{date.[0]}}</span></div>
								{{/if}}
								<p class="field info">{{{info}}}</p>
							</div>
						</div>
					</li>
				{{/each}}
			</ol>
		</section>

		<section id="education">
			<h1 class="section-heading">Education</h1>
			<ol class="nolist">
				{{#each education.schools}}
					<li>
						<div class="education-entry field-box iv">
							{{#if course}}
								<div class="field value course">{{course}}</div>
							{{/if}}
							<div class="field name">at <span class="value">{{name}}</span></div>
							{{#if date.[1]}}
								<div class="field date">from <span class="value">{{date.[0]}}</span> to <span class="value">{{date.[1]}}</span></div>
							{{else}}
								<div class="field date">in <span class="value">{{date.[0]}}</span></div>
							{{/if}}
							<div class="field value info">{{{info}}}</div>
						</div>
					</li>
				{{/each}}
			</ol>
		</section>

		<section id="about">
			<h1 class="section-heading">About Me</h1>
			<div id="about-text" class="iv">
				{{#each about.text}}
					<p class="text">{{{this}}}</p>
				{{/each}}
			</div>
		</section>

		<footer id="footer">
			<ul id="contact-list" class="nolist">
				{{#each contact.links}}
					<li class="contact-entry">
						<a href="{{url}}" target="_blank" aria-label="{{name}}" title="{{text}}">
							<i class="fa fa-lg fa-{{fa-icon}}" aria-hidden="true"></i>
						</a>
					<!--</li>--><!--no closing tag - no space between inline-blocks-->
				{{/each}}
			</ul>
			<p class="copytext">&copy; 2017 Lean Rada</p>
		</footer>

	</div>

	<script data-main="js/main.js" src="requirejs/require.js"></script>
	<script>
		define("helloData", {titles: [{{#each hello.titles}}{{#if @index}},{{/if}}"{{this}}"{{/each}}]});
	</script>
</body>
</html>