<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#203450">

	<!-- icon meta stuff -->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">

	<!-- name meta stuff -->
	<meta name="apple-mobile-web-app-title" content="Lean Rada">
	<meta name="application-name" content="Lean Rada">
	<meta property="og:title" content="Lean Rada">
	<meta name="twitter:title" content="Lean Rada">

	<!-- social meta stuff -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="og:description" content="Personal webpage of Lean Rada">
	<meta name="twitter:description" content="Personal webpage of Lean Rada">
	<meta property="og:image" content="http://kalabasa.github.io/preview.png">
	<meta name="twitter:image" content="http://kalabasa.github.io/preview.png">

	<title>Lean Rada</title>

	<link rel="stylesheet" type="text/css" href="style.css">

	<!-- scripts -->
	<script>
		window.data = {
			helloData: {titles: [{{#each hello.titles}}{{#if @index}},{{/if}}"{{this}}"{{/each}}]}
		};
	</script>
	<script async data-main="js/main.js" src="requirejs/require.js"></script>

	<!-- preloader script -->
	<noscript>
		<style>
			#preloader, #splash, #start-btn { display: none }
			#main-container { margin-top: 0 }
			#nav { display: fixed }
		</style>
	</noscript>
</head>
<body>
	<div id="preloader">
		<i class="fa fa-lg fa-circle-o-notch fa-spin fa-fw"></i>
	</div>
	<script src="js/preloader.js"></script>

	<nav id="nav" style="display: none">
		<ol class="nolist">
			<li><a href="#hello">Hi</a></li>
			<li><a href="#projects">Proj</a></li>
			<li><a href="#experience">Work</a></li>
			<li><a href="#education">Edu</a></li>
			<li><a href="#about">About</a></li>
		</ol>
	</nav>

	<div id="splash">
	</div>

	<button id="start-btn" class="overlay overlay-bottom overlay-mid" title="Let's go!">
		<i class="fa fa-2x fa-angle-down" aria-hidden="true"></i>
	</button>

	<div id="main-container">

		<section id="hello">
			<div id="hello-text" class="iv">
				<div id="hello-portrait">
					<img src="{{hello.portrait.image_src}}" alt="my portrait"/>
				</div>
				<div id="hello-me">
					<h1>Hi!</h1>
					<p class="heading">{{hello.heading}}</p>
					<p id="hello-me-title-state" class="heading">I'm <span id="hello-me-title">{{hello.titles.[0]}}</span></p>
					{{#each hello.text}}
						<p class="text">{{this}}</p>
					{{/each}}
				</div>
			</div>
		</section>

		<section id="projects">
			<h1 class="section-heading">Projects</h1>
			<ul class="grid">
				{{#each projects.works}}
					<li class="grid-entry iv">
						<div class="project-entry field-box">
							{{#if image}}
								{{#if links}}<a href="{{links.[0].url}}" target="_blank" class="plainlink">{{/if}}
									<img class="image" src="{{image.src}}" title="{{image.title}}"/>
								{{#if links}}</a>{{/if}}
							{{/if}}
							<div class="field value name">{{name}}</div>
							<div class="field value short-description">{{short_description}}</div>
							{{#if links}}
								<div class="field value link">
									{{#each links}}
										<a href="{{url}}" target="_blank" aria-label="project link">
											{{#if name}}{{name}}{{else}}Link{{/if}}&nbsp;<!--
										--><i class="fa fa-external-link" aria-hidden="true"></i><!--
										--></a>
										&ensp;
									{{/each}}
								</div>
							{{/if}}
							<div class="field tech">
								{{#each tech}}
									<span class="value">{{{this}}}</span>
								{{/each}}
							</div>
							<div class="field value full-description">{{full_description}}</div>
						</div>
					</li>
				{{/each}}
			</ul>
		</section>

		<section id="experience">
			<h1 class="section-heading">Work</h1>
			<ol class="timeline iv">
				{{#each experience.works}}
					<li class="iv">
						<div class="timeline-entry">
							<div class="experience-entry field-box">
								{{#if image}}
									<img class="image" src="{{image.src}}" title="{{image.title}}"/>
								{{/if}}
								{{#if video}}
									<video class="image" src="{{video.src}}" title="{{video.title}}" autoplay muted loop preload="none"></video>
								{{/if}}
								<div class="field value job">{{job}}</div>
								{{#if company}}
									<div class="field company">at <span class="value">{{company}}</span></div>
								{{else}}
									{{#if alt_company}}
										<div class="field value company">{{alt_company}}</div>
									{{/if}}
								{{/if}}
								{{#if date.[1]}}
									<div class="field date">from <span class="value">{{date.[0]}}</span> to <span class="value">{{date.[1]}}</span></div>
								{{else}}
									<div class="field date">in <span class="value">{{date.[0]}}</span></div>
								{{/if}}
								<p class="field info">{{{info}}}</p>
							</div>
						</div>
					</li>
				{{/each}}
			</ol>
		</section>

		<section id="education">
			<h1 class="section-heading">Education</h1>
			<ol class="nolist">
				{{#each education.schools}}
					<li>
						<div class="education-entry field-box iv">
							{{#if course}}
								<div class="field value course">{{course}}</div>
							{{/if}}
							<div class="field name">at <span class="value">{{name}}</span></div>
							{{#if date.[1]}}
								<div class="field date">from <span class="value">{{date.[0]}}</span> to <span class="value">{{date.[1]}}</span></div>
							{{else}}
								<div class="field date">in <span class="value">{{date.[0]}}</span></div>
							{{/if}}
							<div class="field value info">{{{info}}}</div>
						</div>
					</li>
				{{/each}}
			</ol>
		</section>

		<section id="about">
			<h1 class="section-heading">About Me</h1>
			<div id="about-text">
				<div class="less">
					{{#each about.text}}
						<p class="text iv">{{{this}}}</p>
					{{/each}}
				</div>
				<div class="more">
					<button class="more-btn iv">More About Me</button>
					<div class="more-content">
						{{#each about.more_text}}
							<p class="text">{{{this}}}</p>
						{{/each}}
					</div>
				</div>
			</div>
		</section>

		<footer id="footer">
			<ul id="contact-list" class="nolist">
				{{#each contact.links}}
					<li class="contact-entry">
						<a href="{{url}}" target="_blank" aria-label="{{name}}" title="{{text}}">
							<i class="fa fa-lg fa-{{fa-icon}}" aria-hidden="true"></i>
						</a>
					<!--</li>--><!--no closing tag - no space between inline-blocks-->
				{{/each}}
			</ul>
			<p class="copytext">&copy; 2017 Lean Rada</p>
		</footer>

	</div>
</body>
</html>