<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kalabasa</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="welcome"><a href="kalabasa.github.io"><h1>kalabasa.github.io</h1></a></div>
	<div id="gallery-container">
		<section id="gallery">
			{{#gallery_items}}
				<article>
					<h1>{{name}}</h1>
					<p>{{description}}</p>
					<img src="{{image_src}}"/>
				</article>
			{{/gallery_items}}
		</section>
		<div id="container-btn-left" class="container-btn-gallery-nav overlay overlay-left overlay-vmid">
			<button id="btn-left" class="overlay-btn" tabIndex="1">
				{{{include "src/html/arrow-down.svg"}}}
			</button>
		</div>
		<div id="container-btn-right" class="container-btn-gallery-nav overlay overlay-right overlay-vmid">
			<button id="btn-right" class="overlay-btn" tabIndex="1">
				{{{include "src/html/arrow-down.svg"}}}
			</button>
		</div>
	</div>
	<div id="container-btn-down" class="overlay overlay-bottom overlay-mid">
		<button id="btn-down" class="overlay-btn" tabIndex="1">
			{{{include "src/html/arrow-down.svg"}}}
		</button>
	</div>
	<div id="main-container">
		<section id="hello">
			<div id="hello-text">
				<div id="hello-portrait">
					<img src="img/hello1.png"/>
				</div>
				<div id="hello-me">
					<h1>Hi!</h1>
					<p class="heading">My name is Lean Rada</p>
					<p class="heading">I'm a Software Developer</p>
					<p>I like making things</p>
					<p>Yes</p>
				</div>
			</div>
		</section>
		<footer id="footer">
			<div class="sig">
				{{{include "src/html/lr.svg"}}}
			</div>
			<p class="copytext">&copy; 2015 Lean Rada</p>
		</footer>
		<nav id="nav">
			<ol>
				<li><a href="#">Home</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">About</a></li>
			</ol>
		</nav>
	</div>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>