{{#> page }}
{{#*inline "head" }}
	<title>Lean Rada</title>
{{/inline}}
{{#*inline "pjax-head" }}
	<link id="main-css" rel="stylesheet" href="index.css">
	<script id="main-js" src="index.js" async defer></script>
{{/inline}}

{{#*inline "body" }}
	<section class="intro">
		<h1 class="intro-content intro-greeting">Hello!</h1>
		<p class="intro-content intro-text">I'm Lean, a software engineer based in Manila, Philippines.</p>
		<p class="intro-content intro-text">I do digital magic.</p>
	</section>
	<section class="projects">
		<h1 class="section-heading">Projects</h1>
		<span aria-hidden class="section-overlay"><span>Proyekto</span></span>
		<p class="section-subheading">I live to create things.</p>
		<ul class="projects-list">
			{{#each projects_featured }}
			<li class="projects-item">
				<a class="project-image anchor-plain" href="works/{{{ id }}}.html">
					<image src="{{{ image.src }}}" alt="{{{ image.alt }}}"/>
				</a>
				<div class="project-info">
					<div class="project-name field value">{{ name }}</div>
					<p class="project-short-description field value">{{ short_description }}</p>
					{{#if tech }}
					<div class="project-tech field tags">
						{{#each tech }}
						<span class="tag value">{{ this }}</span>
						{{/each}}
					</div>
					{{/if}}
					{{#if links }}
					<div class="project-links field">
						{{#each links }}
						<a target="_blank" class="value" href="{{{ url }}}">{{ name }}</a>
						{{/each}}
					</div>
					{{/if}}
				</div>
			</li>
			{{/each}}
		</ul>
		<p class="more">
			<a class="anchor-em" href="works.html">More works</a>
		</p>
	</section>
	<section class="jobs">
		<div aria-hidden class="jobs-decor1"></div>
		<div aria-hidden class="jobs-decor2"></div>
		<div aria-hidden class="jobs-decor3"></div>

		<h1 class="section-heading">Work Experience</h1>
		<span aria-hidden class="section-overlay"><span>Trabaho</span></span>
		<p class="section-subheading">I create things for a living.</p>
		<ol class="jobs-list">
			{{#each jobs }}
			<li class="jobs-item">
				<div class="job-name field value">{{ name }}</div>
				{{#if company }}
				<div class="job-company field">at <span class="value">{{ company }}</span></div>
				{{/if}}
				{{#if alt_company }}
				<div class="job-company field value">{{ alt_company }}</div>
				{{/if}}
				<div class="job-date field">
					{{#if date.[1] }}
					from <span class="value">{{ date.[0] }}</span> to <span class="value">{{ date.[1] }}</span>
					{{else}}
					in <span class="value">{{ date.[0] }}</span>
					{{/if}}
				</div>
				<p class="job-description field value">{{{ description }}}</p>
				{{#if tech }}
				<div class="job-tech field tags">
					{{#each tech }}
					<span class="tag value">{{ this }}</span>
					{{/each}}
				</div>
				{{/if}}
			</li>
			{{/each}}
		</ol>
	</section>
	<section class="about" id="about">
		<h1 class="section-heading">About Me</h1>
		<p>I'm Lean Rada, a software engineer.</p>
		<p>I want to make great things using technology to improve how the world works. My interests are game dev, design, music theory, animation, visual art, interactive media, and technology.</p>
	</section>
	<section class="contact" id="contact">
		<h1 class="section-heading">Me Online</h1>
		<ul class="contact-links-list">
			{{#each links }}
			<li><a class="contact-link" target="_blank" href="{{{ href }}}"><img class="contact-link-icon" src="{{ img }}"/> {{ name }}</a></li>
			{{/each}}
		</ul>		
	</section>
{{/inline}}
{{/page}}
