{{#> page }}
{{#*inline "head" }}
	<title>Works | Lean Rada</title>
{{/inline}}
{{#*inline "pjax-head" }}
	<link id="main-css" rel="stylesheet" href="works.css">
	<script id="main-js" src="works.js" async defer></script>
{{/inline}}

{{#*inline "body" }}
	<section class="works">
		<div class="container">
			<div class="grid-header">
				<h1 class="section-heading">Works</h1>
				{{!-- No-JS toggle hacks! --}}
				<div class="filter">
					<input id="filter-checkbox" type="checkbox" aria-label="Filter projects" />
					<label class="filter-button" for="filter-checkbox" title="Filter projects" aria-hidden>
						<img class="filter-icon" src="../img/icon-filter.svg"/>
					</label>
					<div class="filter-bar">
						<img class="filter-bar-arrow" src="../img/icon-forward.svg"/>
						<label class="filter-type-button" title="Web" aria-label="Web">
							<input class="filter-type-radio" type="radio" name="filterType" value="web"/>
							<img class="filter-type-icon" src="../img/icon-web.svg"/>
						</label>
						<label class="filter-type-button" title="Games" aria-label="Games">
							<input class="filter-type-radio" type="radio" name="filterType" value="game"/>
							<img class="filter-type-icon" src="../img/icon-game.svg"/>
						</label>
						<label class="filter-type-button" title="Music" aria-label="Music">
							<input class="filter-type-radio" type="radio" name="filterType" value="music"/>
							<img class="filter-type-icon" src="../img/icon-music.svg"/>
						</label>
						<label class="filter-type-button" title="Art" aria-label="Art">
							<input class="filter-type-radio" type="radio" name="filterType" value="art"/>
							<img class="filter-type-icon" src="../img/icon-art.svg"/>
						</label>
					</div>
				</div>
			</div>
			<div class="grid">
				{{#each projects }}
				<a class="projects-item anchor-plain" href="works/{{{ id }}}.html" data-project-type="{{{ type }}}">
					<image class="project-image" src="{{{ image.src }}}" title="{{{ image.title }}}"/>
					<div class="project-info">
						<span class="project-name">{{ name }}</span><!--
						--><br><!--
						--><span class="project-description">{{{ short_description }}}</span>
					</div>
				</a>
				{{/each}}
			</div>
		</div>
	</section>
{{/inline}}
{{/page}}