{{#> page }}
{{#*inline "head" }}
	<title>Works | Lean Rada</title>
{{/inline}}
{{#*inline "pjax-head" }}
	<link id="main-css" rel="stylesheet" href="works.css">
	<script id="main-js" src="works.js" async defer></script>
{{/inline}}

{{#*inline "body" }}
	<section class="works">
		<div class="container">
			<h1 class="section-heading">Works</h1>
			<div class="grid">
				{{#each projects }}
				<a class="projects-item anchor-plain" href="works/{{{ id }}}.html">
					<image class="project-image" src="{{{ image.src }}}" title="{{{ image.title }}}"/>
					<div class="project-info">
						<span class="project-name">{{ name }}</span><!--
						--><br><!--
						--><span class="project-description">{{{ short_description }}}</span>
					</div>
				</a>
				{{/each}}
			</div>
		</div>
	</section>
{{/inline}}
{{/page}}